@import 'tailwindcss';

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222 13% 10%;
		
		--muted: 210 40% 96%;
		--muted-foreground: 215 14% 42%;
		
		--popover: 0 0% 100%;
		--popover-foreground: 222 13% 10%;
		
		--card: 0 0% 100%;
		--card-foreground: 222 13% 10%;
		
		--border: 214 32% 91%;
		--input: 214 32% 91%;
		
		--primary: 217 91% 60%;
		--primary-foreground: 0 0% 100%;
		
		--secondary: 210 40% 96%;
		--secondary-foreground: 222 13% 10%;
		
		--accent: 217 91% 60%;
		--accent-foreground: 0 0% 100%;
		
		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 100%;
		
		--ring: 217 91% 60%;
		--radius: 0.5rem;
	}
	
	* {
		border-color: hsl(var(--border));
	}
	
	body {
		background-color: hsl(var(--background));
		color: hsl(var(--foreground));
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
